body {
    margin: 0;
    padding: 0;
}

nav.navbar img {
    max-width: -webkit-fill-available;
    margin: 0 0.3rem;
}

header.head ,
footer.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
section.head-box , 
section.foot-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
img.yellow {
    width: 8px;
    height: 8px;
}
img.black-arrow ,
img.white-arrow {
    width: 12px;
    height: 12px;
}
a.head-link ,
a.foot-link {
    color: #242424;
}
p.gray {
    color: #b2b2b2;
}

article.welcome {
    background-color: #f8f8f8;
    padding: 1.5rem 2.5rem;
    align-items: center;
}
article.welcome h1 {
    font-weight: normal;
    color: #242424;
    margin-bottom: 0;
}
article.welcome p {
    font-weight: 100;
    color: #242424;
    margin-top: 0.5rem;
    line-height: 1.4rem;
}

section.start {
    margin: 2rem;
}
section.start h2 {
    font-weight: 100;
    color: #242424;
}
section.attention-box {
    background-color: #f8f8f8;
    padding: 1rem;
    line-height: 1.2rem;
    display: flex;
}
div.attention {
    width: 25px;
    height: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
div.assets-box {
    display: flex;
    flex-direction: column;
}
div.assets h3 {
    font-weight: 100;
}
div.see-all ,
div.see-all a ,
div.assets p {
    font-size: small;
    color: #242424;
}