body {
    margin: 0;
    padding: 0;
}

nav.navbar img {
    max-width: -webkit-fill-available;
    margin: 0 0.3rem;
}

header.head ,
footer.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
section.head-box , 
section.foot-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
img.yellow {
    width: 8px;
    height: 8px;
}
img.black-arrow ,
img.white-arrow {
    width: 12px;
    height: 12px;
}
a.head-link ,
a.foot-link {
    color: #242424;
}
p.gray {
    color: #b2b2b2;
}

article.welcome {
    background-color: #f8f8f8;
    padding: 1.5rem 2rem;
    align-items: center;
}
article.welcome h1 {
    font-weight: normal;
    color: #242424;
    margin-bottom: 0;
}
article.welcome p {
    font-weight: 100;
    color: #242424;
    margin-top: 0.5rem;
    line-height: 1.4rem;
}

section.start {
    margin: 2.5rem;
}
section.start h2 {
    font-weight: 100;
    color: #242424;
}
section.attention-box {
    background-color: #f8f8f8;
    padding: 1rem;
    line-height: 1.2rem;
    display: flex;
}
div.attention {
    width: 25px;
    height: 25px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
div.assets-box {
    display: flex;
    flex-direction: column;
}
div.assets h3 {
    font-weight: 100;
}
div.see-all ,
div.see-all a ,
div.assets p {
    font-size: small;
    color: #242424;
}

section.webflow h2 ,
section.framer h2 {
    font-weight: normal;
    color: #242424;
    margin: 3rem 2.5rem 0;
}
section.free-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #f8f8f8;
    color: #242424;
    margin: 1.5rem 2.5rem;
    padding: 1rem;
}
div.logo img {
    width: 50px;
    height: 50px;
}
div.text p.text1 {
    font-size: large;
    color: #242424;
    margin-bottom: 0;
}
div.text p.text2 {
    font-size: smaller;
    color: #242424;
    margin-top: 0.2rem;
}
div.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
div.link1 a , div.link3 a {
    font-size: smaller;
    color: #242424;
}
div.link2 a , div.link4 a {
    font-size: smaller;
    color: #ffffff;
}
div.link2 {
    background-color: #4353FF;
    border-radius: 0.2rem;
    padding: 0.6rem;
}
div.link4 {
    background-color: #000000;
    border-radius: 0.2rem;
    padding: 0.6rem;
}
div.link img {
    width: 10px;
    height: 10px;
}

section.license {
    margin: 2.5rem;    
}
section.license h2 {
    font-weight: 100;
    color: #242424;
}
section.box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: #f8f8f8;
}
section.box img {
    width: 25px;
    height: 25px;
    padding: 2rem 1rem 2rem 2rem;
}
section.box p {
    line-height: 1.2rem;
    font-weight: 100;
    color: #242424;
    padding: 1rem;
}